@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;700&display=swap');

@import "tailwindcss";

html,
html body {
  height: auto;
}

/* App base styles (optional) */
:root {
  color-scheme: light dark;
}

@theme {
  --font-text: 'Montserrat', sans-serif;
  --font-brand: 'Source Sans 3', sans-serif;
  --color-brand: #bc0021;
}

html,
body {
  font-family: var(--font-brand);
  scroll-behavior: smooth;
}

.button {
  @apply bg-brand text-white px-6 py-3 rounded-md hover:bg-brand/90 transition cursor-pointer;

  &.inverted {
    @apply bg-white text-brand border border-gray-200 hover:bg-gray-100;
  }
}

a {
  @apply text-brand hover:text-brand/80 transition;

  &.secondary {
    @apply text-gray-400 hover:text-gray-600;
  }
}

.nav-pill {
  @apply flex items-center px-6 py-2 rounded-sm overflow-hidden relative bg-linear-to-r from-gray-100 to-transparent border-l-4 border-gray-100 hover:border-brand transition-all in-[.active]:border-brand;
}